# Load user-specific configurations if they exist
try-import %workspace%/user.bazelrc

# Standard Bazel settings
build --announce_rc
test --test_output=errors

# Registries
common --registry=https://raw.githubusercontent.com/filmil/bazel-registry/main
common --registry=https://bcr.bazel.build
